<apex:page standardController="Event" extensions="pmEventController" showHeader="false" lightningStylesheets="true" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <html>
    <head>
      <!-- Import the Design System style sheet -->
      <apex:slds />
      <!-- Must use this for the gif animation -->
      <apex:includeScript value="https://code.jquery.com/jquery-2.2.4.js"/>
          <style type="text/css">
        .buttonClass{
            color:white !important;
            background:#0066CC !important;
        }
        </style>
    </head>
       
    <body>
      <!-- REQUIRED SLDS WRAPPER -->
        <div class="slds-scope">
    <apex:form >
    <apex:pageBlock id="block1" rendered="{!openDetail}">
        <apex:pageBlockSection id="section0" columns="2" collapsible="true" title="Detail Page">
            <apex:outputField value="{!myEvent.Subject}"/>
            <apex:outputField id="nohover" rendered="{!hasLead}" label="Lead Name" value="{!myLead.Name}" style="color:black;text-decoration:none;cursor:default" />
            <apex:outputField id="nohover1" rendered="{!hasOpp}" label="Opportunity Name" value="{!myOpportunity.Name}"/>
            <apex:outputField value="{!myEvent.Location}"/>
            <apex:outputField value="{!myEvent.ActivityDateTime}"/>
            <apex:outputLabel >Mobile</apex:outputLabel>
            <a id="link1" name="mobile" href="tel:{!myEvent.Mobile__c}">{!myEvent.Mobile__c}</a>
        </apex:pageBlockSection>
            <script>
        //twistSection(document.getElementById('{!$Component.block1.section1}').getElementsByTagName('img')[0])
            </script>
            <apex:pageBlockSection >
                <div id='gif-loader0' style="width:30px; display:none;">
                  <img width="100%" src="https://nystatesolar.com/salesforce/nyss-loader.gif"/>
                </div>
                <script>
                
                var leadname_aris = "{!myLead.Name}";
                        var leadid_aris ="{!myLead.Id}";
                        var oppponame_aris = "{!myOpportunity.Name}";
                        var oppoid_aris ="{!myOpportunity.Id}";
                        
                        if (oppoid_aris != "") {
                            // location.replace('/'+oppoid_aris);
                            $('#j_id0\\:j_id5\\:block1\\:j_id15\\:schInt').click();
                            //j_id0:j_id5:block1:j_id13:schFinal
                            $('#j_id0\\:j_id5\\:block1\\:j_id13\\:schFinal').click();
                            
                        }
                        //j_id0:j_id5:block1:j_id15:schProposal
                         if (leadid_aris != "") {
                            //location.replace('/'+leadid_aris);
                            $('#j_id0\\:j_id5\\:block1\\:j_id15\\:schProposal').click();
                            
                        }
                
                  function showSpinner0() {
                    $('#gif-loader0').show();
                  } 
                
                
                 $(document).ready(function() {
                    console.log( "ready!" );
                     
                     var leadname_aris = "{!myLead.Name}";
                        var leadid_aris ="{!myLead.Id}";
                        var oppponame_aris = "{!myOpportunity.Name}";
                        var oppoid_aris ="{!myOpportunity.Id}";
                     //j_id0:j_id5:block1:j_id13:schProposal
                        if (oppoid_aris != "") {
                            // location.replace('/'+oppoid_aris);
                            
                            //$('#j_id0\\:j_id5\\:block1\\:j_id13\\:schInt').click();
                             $('#j_id0\\:j_id5\\:block1\\:j_id13\\:schInt').click();  // this old method the IDs were hardcoded so there's a risk it would break
                            var datschint = document.querySelector('[id$=":schInt"]').id; // new method  - part a: IDs will dynamically be accurate
                            //$(datschint).click(); // new method -  part b: click will happen
                            
                        }
                         else if (leadid_aris != "") {
                            //location.replace('/'+leadid_aris);
                             $('#j_id0\\:j_id5\\:block1\\:j_id13\\:schProposal').click(); // old method
                             var datschpro = document.querySelector('[id$=":schProposal"]').id; // new method  - part a: IDs will dynamically be accurate
                             //$(datschpro).click(); // new method -  part b: click will happen
                            
                        }
                     
                 });
                </script>
                <apex:commandButton rendered="{!hasLead}" onclick="showSpinner0()" id="schProposal" value="Schedule Proposal" action="{!goToLead}" style="padding: 6px 24px; font-size: 24px; background:green !important; color:#000000;"/>
                <apex:commandButton rendered="{!hasOpp}" onclick="showSpinner0()" id="schFinal" value="Schedule Final" action="{!goToOpportunity}" style="padding: 6px 24px; font-size: 24px; background:green !important; color:#000000;"/>
                <apex:commandButton rendered="{!hasOpp}" onclick="showSpinner0()" id="schInt" value="Schedule Interior" action="{!goToOpportunity}" style="padding: 6px 24px; font-size: 24px; background:green !important; color:#000000;"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
          </apex:form>           
        </div>
      </body>
    </html>
</apex:page>