<apex:page standardController="Opportunity" extensions="newContactRoleOppController" showHeader="false" showQuickActionVfHeader="false" lightningStylesheets="true" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
    <apex:form >
         <apex:pageMessages />
        <apex:pageBlock title="Add Contact Role">
            <apex:pageBlockSection columns="1">
            	<apex:inputField required="true" value="{!myContactRole.Role}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:inputField required="true" value="{!myContactwRole.FirstName}"/>
                <apex:inputField required="true" value="{!myContactwRole.LastName}"/>
                <apex:inputField required="true" value="{!myContactwRole.Phone}"/>
                <apex:inputField required="true" value="{!myContactwRole.Email}"/>
                <apex:inputField value="{!myContactwRole.Alternate_Email__c}"/>
                <apex:inputField value="{!myContactwRole.AccountId}"/>
            </apex:pageBlockSection>
			<apex:pageBlockSection columns="1">
				<apex:commandButton id="save" value="Save" action="{!save}" style="padding: 6px 24px; font-size: 24px; background:#0066CC !important; color:#FFFFFF;"/>
                <apex:commandButton id="cancel" value="Cancel" action="{!cancel}" html-formnovalidate="formnovalidate" style="padding: 6px 24px; font-size: 24px; background:#0066CC !important; color:#FFFFFF;"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>