<apex:page standardController="Opportunity" lightningStylesheets="true" showQuickActionVfHeader="false">
     <script src="../../soap/ajax/51.0/connection.js" type="text/javascript"></script>
    <script type="text/javascript">
    function createDesign() {
    	if({!Opportunity.StageBypass__c} == false)
{
var o = new sforce.SObject("Opportunity");
o.id = "{!Opportunity.Id}";
o.StageBypass__c = true;
result = sforce.connection.update([o]);
if ( result[0].getBoolean( "success" ) )
{
window.location.reload();
}
else
{
alert( result[0].errors.message);
}
}
else
{
var o = new sforce.SObject("Opportunity");
o.id = "{!Opportunity.Id}";
o.StageBypass__c = false;
result = sforce.connection.update([o]);
if ( result[0].getBoolean( "success" ) )
{
window.location.reload();
}
else
{
alert( result[0].errors.message);
}
}
    }
    </script>
</apex:page>